/* main layout */
.c-shadow {
    box-shadow: rgba(0, 0, 0, 0.411) 0px 10px 15px;
}

.sidebar-mover-right {
    animation-name: sidebarMover;
    animation-duration: 700ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.sidebar {
    position: relative;
}


@media (max-width: 767px) {
    .sidebar {
        position: absolute;
    }
}


/* animations */
@keyframes sidebarMover {
    0% {
        margin-left: -100%;
    }

    100% {
        margin-left: 0%;
    }
}